<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="./lib/p5.min.js"></script>
        <!-- <script type="module" src="./client/sled_racer/sled_racer.mjs"></script> -->
        <script type="module" src="./client/main.js"></script>
        <style>
            * {
                margin: 0px;
                padding: 0px;
            }
        </style>
        <title>Club Penguin.JS</title>
    </head>
    <body>
        <!-- <h1><%= title %></h1> -->
        <div id="canvas_parent"></div>
    </body>
</html>